{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Generals Quarters</h1>
            <p class="text-center">This is a text to fill this gap. no real text will come here blah blah :D Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener('click', function () {
        //attention.success({msg: "Hello, World!"});
        let html = `
        <form id="check-availability-form" action="" method="post" class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" id="start" name="start" placeholder="Enter Start Date">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" id="end" name="end" placeholder="Enter End Date"></input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        `

        attention.custom({
            msg: html,
            title: "Choose your dates!",
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                    format: "yyyy-mm-dd",
                    showOnFocus: true,
                    container: document.body
                })
            },
            preConfirm: () => {
                return [
                    document.getElementById('start').value,
                    document.getElementById('end').value
                ]
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled');
                document.getElementById('end').removeAttribute('disabled');
            },
            callback: function(result) {
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");


                fetch('/search-availability-json', {
                    method:"post",
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log(data.ok);
                        console.log(data.message);
                    })
            }
        });
    })

</script>
{{end}}